<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating new account</title>
    <link rel="stylesheet" href="newAccount/style.css" type="text/css" />
</head>
<body>
<h1>Creating new account</h1>
<p>
    <label for="firstName">Name:</label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Surname:</label>
    <input type="text" name="lastName" id="lastName">
</p>

<p>
    <label for="newlogin">New Login: </label>
    <input type="text" name="log in" id="newlogin" required>

</p>
<label for="newpassword"> New Password:</label>
<form action="...">
    <input type="password" name="nazwa" id="newpassword" required>
</form>
</p>

<p>
    <label for="email">Addres email:</label>
    <input type="text" name="email" id="email" required/>
</p>

<p>
<div>
    <form action="index.php" method="post">Date of birth:
        <input type="date" name="dateValue"></form>
    <input type="submit" name="submit" value="Stwórz nowe konto" >
</div>
</p>
</body>
</html>