<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating new account</title>
</head>
<body>
<h1> </h1>
<p>
    <label for="firstName">Imie:</label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Nazwisko:</label>
    <input type="text" name="lastName" id="lastName">
</p>

<p>
    <label>Płeć:
        <input type="radio" name="type" value="male"/> Męszczyzna
        <input type="radio" name="type" value="female"/> Kobieta
    </label>
</p>
<p>
<div>
    <form action="index.php" method="post">Data urodzenia:
        <input type="date" name="dateValue"></form>
</div>
</p>
</body>
</html>